.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  font-family: $font-family-serif;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 1%;
  background-color: lighten(#f0ead6, 8%);
  @include media-breakpoint-up(md) {
    width: 12%;
    margin-right: .5%;
  }

  @include media-breakpoint-up(lg) {
    width: 6.8%;
  }
}

.card-suit-top {
  align-self: flex-start;
  width: 100%;
  text-align: left;
}

.card-value {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

.card-suit-bottom {
  width: 100%;
  align-self: flex-end;
  text-align: right;
}
