.card-section-title {
  display: block;
  width: 100%;
}

.card-section-btn {
  display: block;
  max-width: 250px;
  margin-bottom: 20px;
}

.card-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
